<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <script
      defer
      data-domain="janmastodon.cz"
      src="https://plausible.io/js/script.js"
    ></script>
    <title>Mastodon.cz</title>
  </head>
  <body>
    <main>{{ content }}</main>
    <footer>
      Je tu něco špatně?
      <a href="https://github.com/zoul/mastodon-cz">Můžete to opravit!</a>
    </footer>
  </body>
</html>
